[core]
	excludesfile = ~/.gitignore.global
	attributesfile = ~/.gitattributes.global
	editor = vim
	whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
    pager = less --tabs 4
	untrackedcache = true
	autocrlf = input
	precomposeunicode = false

[init]
	defaultBranch = main

[apply]
	whitespace = fix

[branch]
	sort = -committerdate

[user]
	name = Alexandru Ciobanu
	email = alex+git@ciobanu.org

[submodule]
	recurse = true

[push]
	default = simple
	followTags = true

[pull]
	ff = only

[pull]
	log = true

[fetch]
	prune = true
	pruneTags = true

[grep]
	extendedregexp = true
	linenumber = true

[help]
	autocorrect = 1

[alias]
	ci = commit
    co = checkout
    st = status -sb
	au = add --update
	aa = add --all
	lg = log --decorate=short --graph --pretty=format:\"%C(red)%h%C(reset) %C(green)%s%C(reset) - %C(yellow)(%ar)%C(reset) %C(blue)%C(bold)<%an>%C(auto)%d\"
	sl = stash list --pretty=format:\"%C(red)%gd%C(reset) %C(green)%s%C(reset) - %C(yellow)(%ar)%C(reset)\"
	ba = branch --all --list --verbose --verbose

[diff "bin"]
	textconv = hexdump -v -C

[diff]
	renames = copies

[color]
	ui = true
    branch = auto
    diff = auto
    interactive = auto
    pager = true
    status = auto

[color "branch"]
	current = yellow bold
	local = green bold
	remote = cyan bold

[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
	whitespace = red reverse

[color "status"]
	added = green bold
	changed = yellow bold
	untracked = red bold

[url "git@github.com:"]
	insteadOf = "gh:"
	pushInsteadOf = "github:"
	pushInsteadOf = "git://github.com/"

[url "git://gist.github.com/"]
	insteadOf = "gist:"

[url "git@gist.github.com:"]
	insteadOf = "gst:"
	pushInsteadOf = "gist:"
	pushInsteadOf = "git://gist.github.com/"

[url "git://github.com/"]
	insteadOf = "github:"