let mapleader=" "

# set surround
# set multiple-cursors
# set commentary
# set argtextobj
# set easymotion
# set textobj-entire
# set ReplaceWithRegister
# set exchange

# Plug 'machakann/vim-highlightedyank'

# set showmode
# set so=5
# set incsearch
# set nu

# set ideajoin
# set ideastatusicon=gray

map "<leader>bd" ":d<cr>"
map "<leader>bw" ":w<cr>"
